.projects-title {
  color: #000;
  margin-bottom: 50px;
  text-align: center;
}

.projects-modules {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 680px) {

  .projects-title {
    text-align: center;
  }

  .projects-modules {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

}
