.media-container {
  background-color: rgba(92, 120, 125, 0.8);
  border-radius: 10px;
  color: #000;
  margin: 1em;
  padding: 10px;
}

.media-title {
  color: #fff;
  text-align: center;
}

.articles-modules {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 680px) {
  .media-container {
    margin: 1em 5em 2em 5em;
  }
}
